.header {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /* box-sizing: https://the-awwwesomes.gitbooks.io/html-css-step-by-step/content/pl/css-basics/css-box-model/index.html */
  box-sizing: border-box;
  position: relative;
  padding: 69px 60px 69px 61px;
}

/* clearfix: https://blog.piotrnalepa.pl/2014/05/27/html-css-dlaczego-pisanie-kodu-html-i-css-nas-wkurza/ */
.header::after {
  display: block;
  content: "";
  clear: both;
}

.header__logo {
  float: left;
}

.header__menu {
  float: right;
  margin-top: -20px;
}

.header__icons {
  position: absolute;
  right: 60px;
  bottom: 39px;
}

.header__hamburger {
  display: none;
}

@media only screen and (min-width : 320px) {
.header {
  height: 100px;
}

.header__logo {
  margin-top: -20px;
  margin-left: -31px;
}

.header__menu {
  display: none;
}

.header__icons {
  display: none;
}

.header__hamburger {
  width: 42px;
  height: 42px;
  display: block;
  float: right;
  margin-right: -30px;
  margin-top: -29px;
}
}

@media only screen and (min-width : 768px) {
.header {
  height: 200px;
}

.header__icons {
  display: inline;
  position: absolute;
  right: 60px;
  bottom: 126px;
}

.header__menu {
  display: inline;
  position: absolute;
  right: 60px;
  bottom: 57px;
}

.header__hamburger {
  display: none;
}
}

@media only screen and (min-width : 1024px) {
.header {
  height: 155px;
}

.header__menu {
  position: absolute;
  right: 60px;
  bottom: 98px;
}

.header__icons {
  position: absolute;
  right: 60px;
  bottom: 39px;
}
}

@media only screen and (min-width : 1440px) {
.header__menu {
  position: absolute;
  right: 450px;
  bottom: 69px;
}

.header__icons {
  position: absolute;
  right: 60px;
  bottom: 69px;
}

.header__logo {
  margin-top: -15px;
}
}

@media only screen and (min-width : 1920px) {
.header__menu {
  position: absolute;
  right: 700px;
  bottom: 70px;
}

.header__icons {
  position: absolute;
  right: 160px;
  bottom: 67px;
}

.header__logo {
  margin-bottom: 69px;
  margin-left: 162px;
}
}
