@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,700&display=swap&subset=latin-ext');

body {
  font-family: 'Poppins', sans-serif;
  color: #2c2e3f;
}

img {
  display: block;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
